<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="content">
      <section>
        <h3>Chandaka Project</h3>
        <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
          6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
          If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
      </section>
      <section>
        <h4>Amenities</h4>
        <ul class="alt">
          <li><a href="#">Project details.</a></li>
          <li><a href="#">Roads and other details.</a></li>
          <li><a href="#">5 km from the internaltion aurport.</a></li>
          <li><a href="#">IT city 3 KM.</a></li>
        </ul>
      </section>
      <section>
        <h4>Social</h4>
        <ul class="plain">
          <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
          <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
          <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
          <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
        </ul>
      </section>
    </div>
    <div class="copyright">
      &copy;<a href="https://mlrealcon.com">ML Realcon 2020</a>.
    </div>
  </div>
</footer>
