<!-- Header -->
<app-header></app-header>

<!-- Nav -->
<nav id="menu">
  <ul class="links">
    <li><a href="index.html">Home</a></li>
<!--    <li><a href="elements.html">Elements</a></li>-->
<!--    <li><a href="generic.html">Generic</a></li>-->
  </ul>
</nav>

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>Brikhs Vihar</h1>
    <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
      6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
      If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
  </div>
  <video autoplay loop muted playsinline src="assets/images/banner.mp4"></video>
</section>

<!-- PROJECT SLIDES -->
<app-carousel></app-carousel>


<!-- Highlights -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Amenities</h2>
      <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
        6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
        If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
    </header>
    <div class="highlights">
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
            <h3>Feugiat consequat</h3>
          </header>
          <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
            6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
            If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
            <h3>Ante sem integer</h3>
          </header>
          <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
            6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
            If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
            <h3>Ipsum consequat</h3>
          </header>
          <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
            6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
            If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
            <h3>Interdum gravida</h3>
          </header>
          <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
            6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
            If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
            <h3>Faucibus consequat</h3>
          </header>
          <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
            6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
            If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
            <h3>Accumsan viverra</h3>
          </header>
          <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
            6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
            If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper">
  <div class="inner">
    <h2>Curabitur ullamcorper ultricies</h2>
    <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
      6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
      If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
  </div>
</section>

<!-- Testimonials -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Faucibus consequat lorem</h2>
      <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
        6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
        If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
    </header>
    <app-testimonials></app-testimonials>
  </div>
</section>

<app-footer></app-footer>
