<div class="testimonials">
  <section>
    <div class="content">
      <blockquote>
        <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
          6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
          If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
      </blockquote>
      <div class="author">
        <div class="image">
          <img src="assets/images/pic01.jpg" alt="" />
        </div>
        <p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <blockquote>
        <p>Gharabari plot available for sale at chandaka nearby nit college 5 klm from infocity, 5 klm from studio chaka ,
          6 klm from sum hospital,6 klm from kiim's hospital with 30 ft road connected to main road 1 klm from chandaka pitapali road with electric water connection.
          If anyone interested for investment in a property in a good location with good price let me know by email or call..</p>
      </blockquote>
      <div class="author">
        <div class="image">
          <img src="assets/images/pic03.jpg" alt="" />
        </div>
        <p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <blockquote>
        <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
      </blockquote>
      <div class="author">
        <div class="image">
          <img src="assets/images/pic02.jpg" alt="" />
        </div>
        <p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
      </div>
    </div>
  </section>
</div>
